/*---------------- OVERSKRIFT SECTION ---------------*/
.overskrift1 {
    text-align: center;
    padding-top: 2%;
}

.vinflaske_img {
    margin-left: 5%;
    margin-right: 5%;
    background-color: var(--hvid);
    margin-bottom: 2.5%;
    padding-top: 2.5%;
    border: solid 1px var(--sort);
    border-radius: 12px;
    justify-content: center;
    width: 50%;
    display: flex;
}

/*---------------- OVERSKRIFT SECTION ---------------*/

.vinflaske_img {
    margin-right: 5%;
    background-color: var(--hvid);
    margin-bottom: 2.5%;
    padding-top: 2.5%;
    border: solid 1px var(--sort);
    border-radius: 12px;
    justify-content: center;
    width: 50%;
    display: flex;
    margin-left: 25%;
}

.pris {
    text-align: center;
}

.button-21 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 100%;
}

/*---------------- INFORMATION/BESKRIVELSE SECTION ---------------*/
.overskrift_r {
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-align: left;
    padding-top: 2%;
}

.lang-tekst {
    line-height: 160%;
    margin-right: 2.5%;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lang-tekst-tips {
    margin-block-start: 0em;
} 

#serv_tips {
    font-weight: bold;
    margin-block-end: 0em;
}

/*---------------- ANMELDELSE SECTION ---------------*/
.anmeldelse {
    line-height: 160%;
    background-color: var(--hvid);
    padding-bottom: 2.5%;
    padding-top: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: flex;
    flex-direction: column;
    width: 95%;
    border-radius: 20px;
    border: 1px solid var(--black);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.anmeldelse_p {
    text-align: left;
}

.star {
    display: flex;
    flex-direction: row;
    height: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.alder_img {
    margin-top: 5%
}

.checked {
    color: orange;
}

/*=============================================================================================
    =========================================   TABLET   ==========================================
    =============================================================================================*/

@media screen and (min-width: 900px) {
    
    .vin_row {
        justify-content: center;
        display: flex;
    }

    .pris {
        text-align: center;
    }

    .button-21 {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .produkt_row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 2.5%;

    }

    .produkt_inner_row {
        width: 50%;
    }

    .pro_info {
        width: 50%;
        padding-top: 0%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .an_info {
        margin-left: 10%;
        margin-right: 10%;
    }

    .vinflaske_img {
        margin-left: 5%;
        margin-right: 5%;
        background-color: var(--hvid);
        margin-bottom: 1%;
        margin-top: 5%;
        padding-top: 2.5%;
        border: solid 1px var(--sort);
        border-radius: 12px;
        width: 50%;
    }

}

/*=============================================================================================
    ========================================   COMPUTER   =========================================
    =============================================================================================*/

@media screen and (min-width: 1200px) {




}